In [4]:
import seaborn as sns
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
# 남녀별 생존 평균율은?

df.groupby('sex')['survived'].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [9]:
'''
칼럼을 2개 이상 묶을 때는 대괄호 사용
'''


# 좌석 등급에 따른 남녀별 평균 생존율은?

df.groupby(['sex', 'class'])['survived'].mean()

<ipython-input-9-f382deb906c1>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex', 'class'])['survived'].mean()

sex     class
female  First     0.968085
        Second    0.921053
        Third     0.500000
male    First     0.368852
        Second    0.157407
        Third     0.135447
Name: survived, dtype: float64

In [10]:
'''
데이터를 집계하는 방식이 2개 이상이면, agg() (aggregate)를 사용
'''

# 좌석 등급에 따른 남녀별 평균 생존율, 생존수는?

df.groupby(['sex', 'class'])['survived'].agg(['mean', 'count'])

<ipython-input-10-32a0c0aa604e>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex', 'class'])['survived'].agg(['mean', 'count'])

                   mean  count
sex    class
female First   0.968085     94
       Second  0.921053     76
       Third   0.500000    144
male   First   0.368852    122
       Second  0.157407    108
       Third   0.135447    347

In [11]:
'''
agg()에서는 특정 열에 대해 어떤 식으로 데이터를 집게할지 방식을 정할 수 있다.
  2개 이상 조건을 걸 경우, {} 안에 조건을 넣는다.
'''

# 좌석 등급에 따른 남녀 생존률, 나이는?
     # (생존률은 평균값으로, 나이는 가장 많은 나이를 선택해서 출력할 것)

df.groupby(['sex', 'class'])[['survived', 'age']].agg({'survived' : 'mean', 'age' : 'max'})

<ipython-input-11-1af6edb7436f>:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex', 'class'])[['survived', 'age']].agg({'survived' : 'mean', 'age' : 'max'})

               survived   age
sex    class
female First   0.968085  63.0
       Second  0.921053  57.0
       Third   0.500000  63.0
male   First   0.368852  80.0
       Second  0.157407  70.0
       Third   0.135447  74.0

In [32]:
# 좌석 등급에 따른 성별·좌석별 나이의 극단값을 구하는 기준은?
  # 극단값이란, 이상치를 뜻함.
    # 해당 공식을 이용해서 '극단값을 구하는 기준'을 구함.
    #   그런 다음 해당 공식을 이용해서 튀는 값을 구한다.

import numpy as np

# 매개변수(나이)에 전달되는 값은 .apply가 적용된 age의 데이터가 전달됨.
def 극단값구하는기준(나이) :
  # _를 이름 앞에 붙인 이유는 변수명으로 숫자가 가장 먼저 올 수 없기 때문에.
  _3사분위수 = 나이.quantile(.75)
  _1사분위수 = 나이.quantile(.25)
  # 3사분위수 - 1사분위수 * 1.5는 극단값 구하는 기준을 구하는 공식.
  return (np.abs(_3사분위수 - _1사분위수) * 1.5)

df.groupby(['sex', 'class'])['age'].apply(극단값구하는기준)

<ipython-input-32-44c7f75d4afb>:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex', 'class'])['age'].apply(극단값구하는기준)

sex     class
female  First     31.5000
        Second    20.6250
        Third     23.4375
male    First     31.5000
        Second    20.6250
        Third     19.5000
Name: age, dtype: float64

In [34]:
df = sns.load_dataset('penguins')
# 결측치 개수 확인
df.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [37]:
# 팽귄 종별로 묶고, 종별 'bill_length_mm','bill_depth_mm','flipper_length_mm' 내에 있는 결측치를 평균값으로 바꾸기

df.groupby('species')[['bill_length_mm','bill_depth_mm','flipper_length_mm']].apply(lambda x : x.fillna(x.mean()))

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [39]:
import pandas as pd


df = pd.DataFrame(
  {'group':['A','A','A','B','B'],
  'value':[1, 1, 1, 10, 10]}
)

  group  value
0     A      1
1     A      1
2     A      1
3     B     10
4     B     10

In [40]:
# group별로 묶고 value값의 합 구하기

df.groupby('group')['value'].sum()

group
A     3
B    20
Name: value, dtype: int64

In [41]:
# 그룹 내에 있는 값을 '다른 이름으로 변경'해서 value 합 구하기

df.groupby([0,0,1,1,1])['value'].sum()

0     2
1    21
Name: value, dtype: int64